@import 'theme.css';

.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
    background: #6fd3dd;
}

.rst-content .note, .rst-content .seealso, .rst-content .wy-alert-info.admonition, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .wy-alert.wy-alert-info {
    background: #e7f7f9;
}

.rst-content .wy-alert-neutral.admonition-todo a,.rst-content .wy-alert-neutral.admonition a,.rst-content .wy-alert-neutral.attention a,.rst-content .wy-alert-neutral.caution a,.rst-content .wy-alert-neutral.danger a,.rst-content .wy-alert-neutral.error a,.rst-content .wy-alert-neutral.hint a,.rst-content .wy-alert-neutral.important a,.rst-content .wy-alert-neutral.note a,.rst-content .wy-alert-neutral.seealso a,.rst-content .wy-alert-neutral.tip a,.rst-content .wy-alert-neutral.warning a,.wy-alert.wy-alert-neutral a{
    color:#0fb6c7
}

.wy-tray-container li.wy-tray-item-info{
    background:#0fb6c7
}

.btn-info{
    background-color:#0fb6c7!important
}

.btn-info:hover{
    background-color:#0C919F!important
}

.btn-link{
    color:#0fb6c7;
}

.wy-dropdown-menu>dd>a:hover{
    background:#0fb6c7;
}

.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover{
    background:#0fb6c7;
}

.wy-inline-validate.wy-inline-validate-info .wy-input-context{
    color:#0fb6c7
}

a{
    color:#0fb6c7;
}

.wy-text-info{
    color:#0fb6c7!important
}

.wy-menu-vertical a:active{
    background-color:#0fb6c7;
}

.wy-side-nav-search{
    background-color:#0fb6c7;
}

.wy-side-nav-search img{
    background-color:#0fb6c7;
}

.wy-side-nav-search > div.version {
    color: hsla(0, 0%, 100%, 0.7);
}

.wy-nav .wy-menu-vertical header{
    color:#0fb6c7
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #0C919F;
}

.wy-nav .wy-menu-vertical a:hover{
    background-color:#0fb6c7;
}

.wy-nav-side {
    background: #293133;
}

.wy-nav-top{
    background:#0fb6c7;
}

.wy-nav-top img{
    background-color:#0fb6c7;
}

.rst-versions a{
    color:#0fb6c7;
}

.rst-content a code,.rst-content a tt{
    color:#0fb6c7
}

html.writer-html4 .rst-content dl:not(.docutils)>dt,html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt{
    color:#0fb6c7;
}

html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    background: #e7f7f9;
    border-top: 3px solid #6fd3dd;
}
