name: Documentation check
on:
- pull_request

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  doc_checks:
    runs-on: ubuntu-latest
    env:
      QISKIT_SETTINGS: ${{github.workspace}}/docs/qiskit_settings.conf

    steps:

        - uses: actions/checkout@v5

        - uses: sQUlearn/sphinx-action@master
          with:
            docs-folder: "docs/"
            pre-build-command: "pip3 install .[docs]"
            build-command: "sphinx-build -b html . _build -W --keep-going"
