name: Tests
on:
  pull_request:
  schedule:
    - cron: '23 1 * * *'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${
      (github.event_name == 'pull_request' && github.event.pull_request.number || github.ref_name)
    }
  cancel-in-progress: true

jobs:
  pytest_minimal_requirements:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv venv_minimal
          source venv_minimal/bin/activate
          pip install toml autoray==0.7.2 matplotlib-inline==0.1.7
          python3 install_lowest_dependencies.py
      - name: Test with pytest
        run: |
          source venv_minimal/bin/activate
          pip install pytest
          pytest tests/
      - name: Install example dependencies
        run: |
          source venv_minimal/bin/activate
          python3 install_lowest_dependencies.py --examples
      - name: Test examples
        run: |
          source venv_minimal/bin/activate
          pip install nbmake
          pytest --nbmake --nbmake-timeout 600 examples/
      - name: clean
        run: |
          rm -rf venv_minimal

  pytest_qiskit_0_46:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv venv_qiskit_0_46
          source venv_qiskit_0_46/bin/activate
          pip install .[examples] qiskit==0.46.3 qiskit-ibm-runtime==0.20.0 autoray==0.7.2
      - name: Test with pytest
        run: |
          source venv_qiskit_0_46/bin/activate
          pip install pytest
          pytest tests/
      - name: Test examples
        run: |
          source venv_qiskit_0_46/bin/activate
          pip install nbmake
          pytest --nbmake --nbmake-timeout 600 examples/
      - name: clean
        run: |
          rm -rf venv_qiskit_0_46

  pytest_qiskit_1:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv venv_qiskit_1
          source venv_qiskit_1/bin/activate
          pip install .[examples] qiskit==1.1.2 qiskit-algorithms==0.3.0 qiskit-ibm-runtime==0.27.1 autoray==0.7.2
      - name: Test with pytest
        run: |
          source venv_qiskit_1/bin/activate
          pip install pytest
          pytest tests/
      - name: Test examples
        run: |
          source venv_qiskit_1/bin/activate
          pip install nbmake
          pytest --nbmake --nbmake-timeout 600 examples/
      - name: clean
        run: |
          rm -rf venv_qiskit_1

  pytest_latest:
    name: Test on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: |
            ${{
              matrix.python-version
            }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv venv_latest
          source venv_latest/bin/activate
          pip install .
      - name: Install old autoray
        if: matrix.python-version == '3.9'
        run: |
          source venv_latest/bin/activate
          pip install autoray==0.7.2
      - name: Test with pytest
        run: |
          source venv_latest/bin/activate
          pip install pytest
          pytest tests/
      - name: clean
        run: |
          rm -rf venv_latest
      - name: Test examples
        run: |
          source venv_latest/bin/activate
          pip install nbmake
          pytest --nbmake --nbmake-timeout 600 examples/
      - name: clean
        run: |
          rm -rf venv_latest
